/* browser resets */

html, body {
	padding: 0;
	margin: 0;
}

/* basic styles */

body {
	font-family: 'Ubuntu', sans-serif;
	color: #231F20;
	font-size: 16px;
	background-color: #e72c2c;
}

#wrapper {
	width: 960px;
	margin: 0 auto;	
	background-color: #fbede0;
	padding: 5px 20px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

footer {
	margin: 30px 0px 0px 0px;
	background-color: #000;
	color: #fff;
	text-align: right;
	font-size: x-small;
	padding: 5px 10px;
}

/* links */

a {
	color: #FAC127;
	font-weight: 700;
	padding: 2px;
	text-decoration: none;
}

a:hover {
	color: #231F20;
	background-color: #FAC127;
}

/* headers */

h1 {
	font-weight: 500;
	font-size: 24px;
	text-align: center;
}

/* front page img */

#fpimg {
	width: 640px;
	margin: 0px auto;
	border: 1px solid #000;
}

/* temporary navigation styles */

#tempNav {
	font-size: 12px;
	border: 1px solid #000;
	padding: 5px;
	margin-top: 30px;
}

#tempNav ul li {
	display: inline;
	padding-right: 5px;
}

/* user control fields and buttons */

input[type=button] {
	background-color: #FAC127;
	border: 1px solid #000;
	padding: 5px;
}

input[type=button]:hover {
	background-color: #FAC127;
	border: 1px solid #000;
	padding: 5px;
}

input[type=submit] {
	background-color: #FAC127;
	border: 1px solid #000;
	padding: 5px;
}

input[type=submit]:hover {
	background-color: #FAC127;
	border: 1px solid #000;
	padding: 5px;
}

/* registration form styles */

#registerForm label {
	display: block;
}

#registerForm input {
	width: 250px;
}

/* tooltip styles */

.tooltip_container {
	display: none;
	position: absolute;
	border: 1px solid #231f20;
	background-color: #fff;
	padding: 5px;
	color: #231f20;
	font-size: 12px;
	z-index: 1002;
}

/* tabbed nav styles */

#nav_content {
	margin-top: 50px;
}

#navtabs {
	width: 500px;
	height: 20px;
	padding: 10px;
	background-color: #000;
	text-decoration: none;
	list-style-type: none;
	margin: 0px auto;
	border: 1px solid #000;
}

#navtabs li {
	display: inline;
}

#tabs {
	width: 500px;
	padding: 10px;
	background-color: #fff;
	margin: 0px auto 30px auto;
	border: 1px solid #000;
}

#dintro {
	margin-bottom: 40px;
}

/* modal styles */

#overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

#modal {
	width: 500px;
	background: #fff;
	box-shadow: 0 0 10px #000;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	z-index: 1001;
	display: none;
	padding: 10px;
}

#modal .header {
	background: #000;
	color: #FAC127;
	padding: 10px;
	margin: 0px 0px 10px 0px;
}

#modal p {
	margin: 15px;
}

#modal .close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 20px;
	font-weight: 700;
	padding: 5px 10px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: #e72c2c;
}

.mystatus > input[type=radio]{
	display: none;
}

input[type=radio] + img {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 2px;
}

input[type=radio]:checked + img {
	border: 1px solid #000;
	background-color: #e72c2c;
}

input[type=button] {
	display: block;
	clear: both;
}

#addForm input[type=text] {
	display: block;
}

#addForm label {
	margin-left: 3px;
}

#addnew {
	background-color: #e72c2c;
	padding: 5px;
	color:;
	border: 3px solid #e72c2c;
	border-radius: 5px;
}

/* current projects styles */
.projectbox {
	background-color: #fff;
	border: 1px solid #000;
	padding: 5px;
	font-size: 14px;
}

.projectbox button {
	background-color: #FAC127;
	border: 1px solid #000;
	margin-top: 10px;
	margin-left: 5px;
}

/* other styles */

.uCon {
	float: right;
}

.uCon input[type=button] {
	display: inline;
}

#registerForm {
	width: 300px;
	margin: 0 auto;
}